<!DOCTYPE html>
<html>
<head>
   
		 <!-- Required meta tags -->
		 <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<!-- Latest compiled and minified CSS -->
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		 <!-- Optional theme -->
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">       

    <style>
		
		body {
			background-color:#d2cfc5;
		}
		
		.navbar navbar-inverse navbar-fixed-top{
			background-color:#302024;
		}
		
		.signup-content {
			margin: 0;
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
			
		}
		
		.login-content {
			margin: 0;
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}	
		
		.text-muted {
			padding: 10px;
		}
	</style>
    
	
		 {% if title %}
		  <title>{{ title }}</title>
		 {% else %}
		  <title>.....</title> 
		 {% endif %}
		 

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          
          <ul class="nav navbar-nav navbar-right">
			<li><a href="{{url_for('signup')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{{url_for('logincom')}}"><span class="glyphicon glyphicon-log-in"></span>   Login</a></li>
          </ul>
        </div>
      </nav>
      </nav>
      <main role="main" class="container ">
                   
        
            {% block content%}{% endblock %}

            <div class="row ">
                <div class="col-md-12">
                    
                  {% with messages = get_flashed_messages(with_categories= true)%}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                </div>
                 </div>
       <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <!-- Latest compiled and minified JavaScript -->
                 <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
       </main>
</body>

</html>
