
                
                {% extends "layout1.html" %}
                {% block content %}
                   
                   
                  
                 
                    <div class="row">
                      <div class="col-md-12">
                        <div class="jumbotron">
                        <div class="content-section mt-50">
                            <form action="" method="POST">
                                {{ form.hidden_tag() }}
                                <fieldset class=" form-group">
                                    <legend class="border-bottom mb-4">
                                        <h2>Create An User Account</h2>
                                    </legend>
                                    
                                    <div class="form-group">
                                       
                                        {{ form.username.label(class="form-control-label")}}
                                        {% if form.username.errors %}
                                            {{ form.username(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            
                                        {% else %}
                                                {{ form.username(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                    
                                        
                                        
                                    </div>
                                    <div class=" form-group">
                                        
                                            {{ form.email.label(class="form-control-label")}}
                                            {% if form.email.errors %}
                                                {{ form.email(class="form-control form-control-lg is-invalid")}}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                        <span>{{ error}}</span>
                                                    {% endfor %}password                 </div>
                                            {% else %}
                                                    {{ form.email(class="form-control form-control-lg ")}}
                        
                                            {% endif %}
                                       
                                    </div>
                                    
                                    <div class="row">
                                     <div class="col-md-6">
                                     <div class="form-group">
                                        {{ form.password.label(class="form-control-label")}}
                                        {% if form.password.errors %}
                                            {{ form.password(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error}}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                                {{ form.password(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                                     </div>
                                     </div>
                                     <div class="col-md-6">
                                     <div class="form-group">
                                        {{ form.confirm_password.label(class="form-control-label")}}
                                        {% if form.confirm_password.errors %}
                                            {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.confirm_password.errors %}
                                                    <span>{{ error}}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                                {{ form.confirm_password(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                                     </div>
                                     </div>
                                    </div>
                                    <div class="row">
                                     <div class="col-md-6">

                                     <div class="form-group">
                                       
                                        {{ form.contact.label(class="form-control-label")}}
                                        {% if form.contact.errors %}
                                            {{ form.contact(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.contact.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            
                                        {% else %}
                                                {{ form.contact(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                    
                                        
                                        
                                     </div>
                                     </div>
                                     <div class="col-md-6">
                                     <div class="form-group">
                                       
                                        {{ form.year_study.label(class="form-control-label")}}
                                        {% if form.year_study.errors %}
                                            {{ form.year_study(class="form-control form-control-lg error")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.year_study.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            
                                        {% else %}
                                                {{ form.year_study(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                    
                                        
                                        
                                     </div>
                                     </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        {{ form.department.label(class="form-control-label")}}
                                        {% if form.department.errors %}
                                            {{ form.department(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.department.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            
                                        {% else %}
                                                {{ form.department(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                    
                                        
                                        
                                    </div>
                                    <div class="form-group">
                                       
                                        {{ form.hostel.label(class="form-control-label")}}
                                        {% if form.hostel.errors %}
                                            {{ form.hostel(class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.hostel.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            
                                        {% else %}
                                                {{ form.hostel(class="form-control form-control-lg ")}}
                    
                                        {% endif %}
                    
                                        
                                        
                                    </div>
                                    
                                    
                                
                                </fieldset>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary")}}
                                </div>
                                </div>
                    
                            </form>
                        </div>
                        <div class="border-top pt-3 ">
                            <small class="text-muted">
                              <p>  Already Have An Admin Account? <a class="ml-2" href= "{{url_for('register')}}">Click Here</a></p>
                       
                            Already Have An User Account? <a class="ml-2" href= "{{url_for('register')}}">Click Here</a>
                        </small>
                        </div>
                   </div>
                       <div class="col-md-4">
                         
                      </div>
                    </div>
                  
                {% endblock content %}
                
        
 
